<head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/links.html" . }}
    <!-- <script src="https://unpkg.com/netlify-auth-providers"></script>

    <script>
      $(function() {
        $("#login").on("click", function(e) {
          e.preventDefault();
          var authenticator = new netlify.default ({});
          authenticator.authenticate({provider:"github", scope: "user"}, function(err, data) {
            if (err) {
              return $("#output").text("Error Authenticating with GitHub: " + err);
            }
            $("#output").text("Authenticated with GitHub. Access Token: " + data.token);
          });
        });
      });
    </script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
</head>