<header class="top_panel_wrap top_panel_style_7 scheme_original">
    <div class="top_panel_wrap_inner top_panel_inner_style_7 top_panel_position_above">
        <div class="top_panel_middle">
            <div class="content_wrap">
                <div class="contact_logo column-2_6">
                    <div class="logo" style="margin: .7em 0 !important;">
                        <a href="/" style="width: 100%;display: flex;align-items: center;">
                            <img src="/img/{{ with $.Site.Data.assets }}{{ index . "logohb.png" }}{{ end }}" class="logo_main" alt="" width="238" height="56">
                            <img src="/img/{{ with $.Site.Data.assets }}{{ index . "logohb.png" }}{{ end }}" class="logo_fixed" alt="" width="238" height="56">
                            <div class="logo-naming logo_main" style="font-size:.8em;">
                                <p class="logo-big">Hello Bello</p>
                                <p>Китайский оздоровительный центр</p>
                            </div>
                            <div class="logo-naming logo_fixed">
                                <p style="font-size: 1.4em;margin-bottom: 0.4em;">Hello Bello</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="column-4_6 menu_main_wrap" >
                    {{ partial "layout/nav.html" . }}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header_mobile">
        <div class="content_wrap">
            <div class="menu_button icon-menu"></div>
            <div class="logo" style="display:flex;">
                <a href="/" style="width:100%;">
                    <img src="/img/{{ with $.Site.Data.assets }}{{ index . "logohb.png" }}{{ end }}" class="logo_main" alt="" width="238" height="56">
                    <div class="logo-naming logo_main" style="font-size:.6em;margin-top:.5em;">
                        <p class="logo-big">Hello Bello</p>
                        <p>Китайский оздоровительный центр</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="side_wrap">
            <div class="close">Close</div>
            <div class="panel_top">
                {{ partial "layout/nav.html" . }}
            </div>
            <div class="panel_bottom"></div>
        </div>
        <div class="mask"></div>
    </div>