{{ with .Site.Data.assets }}
<!-- ================= Favicon ================== -->
<link rel="apple-touch-icon" sizes="57x57" href="/img/{{ index . "icons/apple-icon-57x57.png" }}">
<link rel="apple-touch-icon" sizes="60x60" href="/img/{{ index . "icons/apple-icon-60x60.png" }}">
<link rel="apple-touch-icon" sizes="72x72" href="/img/{{ index . "icons/apple-icon-72x72.png" }}">
<link rel="apple-touch-icon" sizes="76x76" href="/img/{{ index . "icons/apple-icon-76x76.png" }}">
<link rel="apple-touch-icon" sizes="114x114" href="/img/{{ index . "icons/apple-icon-114x114.png" }}">
<link rel="apple-touch-icon" sizes="120x120" href="/img/{{ index . "icons/apple-icon-120x120.png" }}">
<link rel="apple-touch-icon" sizes="144x144" href="/img/{{ index . "icons/apple-icon-144x144.png" }}">
<link rel="apple-touch-icon" sizes="152x152" href="/img/{{ index . "icons/apple-icon-152x152.png" }}">
<link rel="apple-touch-icon" sizes="180x180" href="/img/{{ index . "icons/apple-icon-180x180.png" }}">
<link rel="icon" type="image/png" sizes="192x192"  href="/img/{{ index . "icons/android-icon-192x192.png" }}">
<link rel="icon" type="image/png" sizes="32x32" href="/img/{{ index . "icons/favicon-32x32.png" }}">
<link rel="icon" type="image/png" sizes="96x96" href="/img/{{ index . "icons/favicon-96x96.png" }}">
<link rel="icon" type="image/png" sizes="16x16" href="/img/{{ index . "icons/favicon-16x16.png" }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/img/{{ index . "ms-icon-144x144.png" }}">
<meta name="theme-color" content="#ffffff">


<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:400,700|Mr+De+Haviland|Open+Sans:300,400,600,700,800|Raleway:100,200,300,300i,400,400i,500,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" type='text/css' media='all' />
<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?ver=4.3.0" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "admin_icon.min.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/tooltipster/tooltipster.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/tooltipster/tooltipster-light.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/essgrid/esg.settings.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/revslider/rev.settings.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "fontello/css/fontello.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "style.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "core.animation.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "shortcodes.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "instagram-widget.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "skin.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "custom-style.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "responsive.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "skin.responsive.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "custom.responsive.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/grid.layout/grid.layout.min.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "core.messages.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/isotope/core.portfolio.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/hotspot/style.min.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/hotspot/tooltipster.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/swiper/swiper.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "vendor/essgrid/lightbox.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "plugins.css" }}" type='text/css' media='all' />
<link rel='stylesheet' href="/css/{{ index . "custom.css" }}" type='text/css' media='all' />
{{ end }}