{{ with .Site.Data.assets }}
<script type='text/javascript' src="/js/{{ index . "vendor/jquery/jquery.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/jquery/jquery-migrate.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/essgrid/lightbox.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/essgrid/jquery.themepunch.tools.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/essgrid/jquery.themepunch.essential.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/revslider/jquery.themepunch.revolution.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/revslider/extensions/revolution.extension.slideanims.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/revslider/extensions/revolution.extension.actions.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/revslider/extensions/revolution.extension.layeranimation.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/revslider/extensions/revolution.extension.navigation.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/modernizr.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "custom/custom.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/superfish.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/jquery.slidemenu.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "custom/core.utils.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "custom/core.init.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "custom/theme.init.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/social-share.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "custom/theme.shortcodes.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "custom/core.messages.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/hotspot/tooltipster.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/hotspot/script.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/grid.layout/grid.layout.min.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/swiper/swiper.js" }}"></script>
<script type='text/javascript' src="/js/{{ index . "vendor/isotope/isotope.min.js" }}"></script>
{{ end }}
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>