<div class="sc_row row sc_row-fluid">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="sc_empty_space em_height_8-46">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div class="columns_wrap sc_columns columns_nofluid no_margins equal_height">
                    {{ .Inner }}
                </div>
                <div class="sc_empty_space em_height_8-46">
                    <span class="sc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>