<div class="sc_row row sc_row-fluid">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="columns_wrap sc_columns columns_nofluid no_margins custom_product_we_use">
                    <div class="column-1_2 sc_column_item">
                        <div class="sc_empty_space em_height_8-3">
                            <span class="sc_empty_space_inner"></span>
                        </div>
                        <h1 class="sc_title sc_title_regular odd">Bestsellers</h1>
                        <h1 class="sc_title sc_title_regular even">Products we use</h1>
                        <div class="text_column content_element sc_custom_1460641232039">
                            <div class="wrapper">
                                <p>
                                    <span>For our clients we are committed to bringing together natural, non-toxic, environmentally
                                        friendly and therapeutic co-friendly products with our highly skilled and caring
                                        technicians.</span>
                                </p>
                            </div>
                        </div>
                        <div class="text_column content_element">
                            <div class="wrapper">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="custom_number">1</div>
                                                <h5>Vanilla</h5>
                                                <span>Bean Lip Scrub</span>
                                            </td>
                                            <td>
                                                <div class="custom_number">2</div>
                                                <h5>Moroccan</h5>
                                                <span>Oil Hair Treatment </span>
                                            </td>
                                            <td>
                                                <div class="custom_number">3</div>
                                                <h5>Luxury</h5>
                                                <span>Cotton Towel</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <a href="shop.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base">
                            <div>
                                <span class="first">View All Products</span>
                                <span class="second">View All Products</span>
                            </div>
                        </a>
                        <div class="sc_empty_space hide_on_responsive em_height_8-3">
                            <span class="sc_empty_space_inner"></span>
                        </div>
                    </div>
                    <div class="column-1_2 sc_column_item">
                        <div class="sc_empty_space hide_on_responsive em_height_3">
                            <span class="sc_empty_space_inner"></span>
                        </div>
                        <div class="cqtooltip-wrapper" data-opacity="1" data-tooltipanimation="grow" data-tooltipstyle="shadow" data-trigger="hover"
                            data-maxwidth="240" data-marginoffset="" data-isdisplayall="off" data-displayednum="1">
                            <img src="/img/{{ with $.Site.Data.assets }}{{ index . "370x250.jpg" }}{{ end }}" />
                            <div class="cq-hotspots">
                                <div class="hotspot-item hotspot-item-1" data-top="55%" data-left="20%">
                                    <a href="#" class="cq-tooltip" data-tooltip="Scrub" data-arrowposition="">
                                        <i>1</i>
                                    </a>
                                </div>
                                <div class="hotspot-item hotspot-item-2" data-top="35%" data-left="46%">
                                    <a href="#" class="cq-tooltip" data-tooltip="Oil" data-arrowposition="top">
                                        <i>2</i>
                                    </a>
                                </div>
                                <div class="hotspot-item hotspot-item-3" data-top="60%" data-left="85%">
                                    <a href="#" class="cq-tooltip" data-tooltip="Towel" data-arrowposition="top">
                                        <i>3</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>