{{ $img := .Get "src" }}
{{ $category := .Get "category" }}
{{ $title := .Get "title" }}
<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_3 isotope_column_3">
    <div class="post_item post_item_portfolio post_item_portfolio_3">
        <div class="post_content isotope_item_content ih-item colored">
            <div class="post_featured img">
                <a href="single-post.html">
                    <img alt="" src="/img/{{ with $.Site.Data.assets }}{{ index . $img }}{{ end }}">
                </a>
            </div>
            <div class="post_info_wrap info">
                <div class="info-back">
                    <div class="post_category">
                        <a href="single-post.html" rel="tag">{{ $category }}</a>
                    </div>
                    <h4 class="post_title">
                        <a href="single-post.html">{{ $title }}</a>
                    </h4>
                    <div class="post_descr">
                        <p>
                            <a href="single-post.html">
                                {{ .Inner }}
                            </a>
                        </p>
                        <p class="post_buttons">
                            <a href="single-post.html" class="post_readmore sc_button sc_button_size_large sc_button_style_filled">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>