{{ $title := .Get "title" }} 
{{ $img := .Get "src" }} 
{{ $style := .Get "padding" }}
{{ $video := .Get "video" }}
<div class="page_content_wrap page_paddings_yes" {{ if $style }}style="padding-bottom:{{$style}}" {{ end }}>
    <div class="content_wrap">
        <div class="content">
            <article class="post post_item_single">
                {{ if $img }}
                <section class="post_featured">
                    <div class="post_thumb" data-image="/img/370x370.jpg" data-title="{{ $title }}">
                        <a class="hover_icon hover_icon_view" href="/img/370x370.jpg" title="{{ $title }}">
                            <img width="1170" height="659" alt="" src="/img/{{ with $.Site.Data.assets }}{{ index . $img }}{{ end }}">
                        </a>
                    </div>
                </section>
                {{ end }}
                {{ if $video }}
                <section class="post_featured">
                    <div class="sc_video_player">
                        <div class="sc_video_frame" data-width="100%" data-height="659">
                            <iframe class="video_frame" src="{{ $video }}" width="100%" height="659" frameborder="0" webkitAllowFullScreen="webkitAllowFullScreen"
                                mozallowfullscreen="mozallowfullscreen" allowFullScreen="allowFullScreen"></iframe>
                        </div>
                    </div>
                </section>
                {{ end }}
                {{ if .Inner }}
                <section class="post_content services_post_content">
                    <h1 class="post_title entry-title">
                        {{ $title }}
                    </h1>
                    {{ .Inner }}
                </section>
                {{ end }}
            </article>
        </div>
    </div>
</div>