{{ $subtitle := .Get "subtitle" }}
{{ $title := .Get "title" }}
<div class="sc_row row sc_row-fluid">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="sc_empty_space em_height_5">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div id="sc_team_630_wrap" class="sc_team_wrap">
                    <div id="sc_team_630" class="sc_team sc_team_style_team-3 aligncenter">
                        <!-- <h6 class="sc_team_subtitle sc_item_subtitle">{{ $subtitle }}</h6> -->
                        <h2 class="sc_team_title sc_item_title">{{ $title }}</h2>
                        <div class="sc_columns columns_wrap">
                            {{ .Inner }}
                        </div>
                    </div>
                </div>
                <div class="sc_empty_space em_height_5">
                    <span class="sc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>