{{ define "header" }}
<body class="aboutus page body_filled theme_skin_less article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide preloader wpb-js-composer sc_responsive">
    <div id="page_preloader"></div>
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            {{ partial "layout/header.html" . }}
            <section class="top_panel_image">
                <div class="top_panel_image_hover"></div>
                <div class="top_panel_image_header">
                    <div class="top_panel_image_icon icon-book-open"></div>
                    <h1 class="top_panel_image_title entry-title">{{ .Title }}</h1>
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href=".">Главная</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <a class="breadcrumbs_item cat_post" href="/services">Сервисы</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">{{ .Title }}</span>
                    </div>
                </div>
            </section>
            {{ end }}
            {{ define "content" }}
                {{ .Content }}
            {{ end }}
            {{ define "footer" }}
                {{ partial "layout/footer.html" . }}
            {{ end }}