{{ define "header" }}

<body class="page home2 body_filled article_style_stretch scheme_original top_panel_over sidebar_hide sidebar_outer_hide preloader wpb-js-composer sc_responsive">

    <div id="page_preloader"></div>

    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap top_panel_style_6 scheme_dark">
                <div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_over">
                    <div class="top_panel_middle">
                        <div class="content_wrap">
                            <div class="contact_logo column-2_6">
                                <div class="logo">
                                    <a href="/" style="width: 100%;display: flex;align-items: center;">
                                        <img src="/img/{{ with $.Site.Data.assets }}{{ index . "logohb.png" }}{{ end }}" class="logo_main" alt="" width="238" height="56">
                                        <img src="/img/{{ with $.Site.Data.assets }}{{ index . "logohb.png" }}{{ end }}" class="logo_fixed" alt="" width="238"
                                            height="56">
                                        <div class="logo-naming logo_main" style="font-size:.8em;">
                                            <p class="logo-big">Hello Bello</p>
                                            <p>Китайский оздоровительный центр</p>
                                        </div>
                                        <div class="logo-naming logo_fixed">
                                            <p style="font-size: 1.4em;margin-bottom: 0.4em;">Hello Bello</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="menu_main_wrap column-4_6">
                                {{ partial "layout/nav.html" . }}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="header_mobile">
                    <div class="content_wrap">
                        <div class="menu_button icon-menu"></div>
                        <div class="logo" style="display:flex;">
                            <a href="/" style="width:100%;">
                                <img src="/img/{{ with $.Site.Data.assets }}{{ index . "logohb.png" }}{{ end }}" class="logo_main" alt="" width="238" height="56">
                                <div class="logo-naming logo_main" style="font-size:.6em;margin-top:.5em;">
                                    <p class="logo-big">Hello Bello</p>
                                    <p>Китайский оздоровительный центр</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="side_wrap">
                        <div class="close">Close</div>
                        <div class="panel_top">
                            {{ partial "layout/nav.html" . }}
                        </div>
                        <div class="panel_bottom"></div>
                    </div>
                    <div class="mask"></div>
                </div>
            {{ end }} 
            {{ define "content" }}
            <section class="slider_wrap slider_fullscreen slider_engine_revo slider_alias_home-2">
                <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullscreen-container">
                    <div id="rev_slider_3_1" class="rev_slider fullscreenbanner" data-version="5.2.6">
                        <ul>
                            <li data-index="rs-7" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                                data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/img/{{ with $.Site.Data.assets }}{{ index . "1-3-100x50.jpg" }}{{ end }}" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Slide"
                                data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                                data-param8="" data-param9="" data-param10="" data-description="">
                                <img src="/img/{{ with $.Site.Data.assets }}{{ index . "gallery/361A5383.jpg" }}{{ end }}" alt="" title="1" width="1920" height="955"
                                    data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
                                    data-no-retina>
                                    <div class="tp-caption black tp-resizeme" id="slide-7-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-27','-27','-144','-84']"
                                    data-fontsize="['48','48','55','55']" data-width="465" data-height="91" data-whitespace="normal"
                                    data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                    data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Добро пожаловать в</div>
                                <div class="tp-caption black tp-resizeme" id="slide-7-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['35','35','-65','14']" data-fontsize="['68','68','60','55']"
                                    data-lineheight="['68','68','60','55']" data-width="['none','none','none','600']" data-height="none"
                                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2500;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                    data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Hello Bello</div>
                                <div class="tp-caption black tp-resizeme" id="slide-7-layer-3" data-x="['center','center','center','center']" data-hoffset="['2','2','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['112','112','12','129']" data-fontsize="['21','21','24','24']"
                                    data-lineheight="['30','30','30','25']" data-width="['1000','1000','800','500']" data-height="noen"
                                    data-whitespace="['normal','normal','normal','normal']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:2500;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none"
                                    data-responsive_offset="on">Современный целительский центр, сохраняющий традиции Востока и располагающий всем необходимым для консультации и комплексного оздоровления</div>
                                <div class="tp-caption black tp-resizeme" id="slide-7-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['192','192','102','223']" data-fontsize="['11','11','18','15']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(96, 47, 144, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                                    data-transform_in="y:50px;opacity:0;s:3000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;"
                                    data-start="1000" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"/about","delay":""}]'
                                    data-responsive_offset="on">Узнать больше</div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                </div>
            </section>
            <div class="page_content_wrap page_paddings_no">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single page">
                            <section class="post_content">
                                {{ .Content }}
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ define "footer" }}
                {{ partial "layout/footer.html" . }}
            {{ end }}